In [1]:
import pandas as pd

In [2]:
cares_rates_path = '/data/keeling/a/sf20/b/wrf-partmc-spatial-het/WRFV3/test/em_les/cares_gas_emiss_rates.csv'
urbanplume_rates_path = '/data/keeling/a/sf20/b/wrf-partmc-spatial-het/WRFV3/test/em_les/urbanplume_gas_emiss_rates.csv'

In [3]:
cares = pd.read_csv(cares_rates_path)
urbanplume = pd.read_csv(urbanplume_rates_path)

In [6]:
scaling_factor = cares.loc[:, 'Emission rate (mol m^{-2} s^{-1})']/  urbanplume.loc[:, 'Emission rate (mol m^{-2} s^{-1})']

In [9]:
urbanplume['cares/up'] = scaling_factor

In [10]:
urbanplume

        Species  Emission rate (mol m^{-2} s^{-1})  cares/up
0         h2so4                       0.000000e+00       NaN
1          hno3                       0.000000e+00       NaN
2           hcl                       0.000000e+00       NaN
3           nh3                       6.110000e-09  7.954173
4            no                       3.180000e-08  0.069497
..          ...                                ...       ...
72       ch3so2                       0.000000e+00       NaN
73       ch3so3                       0.000000e+00       NaN
74     ch3so2oo                       0.000000e+00       NaN
75  ch3so2ch2oo                       0.000000e+00       NaN
76      SULFHOX                       0.000000e+00       inf

[77 rows x 3 columns]